.backlist_updater_table_ {
  display: table-row;
  vertical-align: top;
}
.backlist_updater_table_1 {
  display: table-cell;
  text-align: left;
  vertical-align: inherit;
  padding: 1px;
}
.backlist_updater_table_2 {
  display: table-cell;
  text-align: center;
  vertical-align: inherit;
  padding: 1px;
}
.big {
  font-size: 1.29167em;
  line-height: 1.2;
}
.bl_extract {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 1em 2.5em 0;
}
.bl_hanging {
  display: block;
  text-align: justify;
  text-indent: -1em;
  margin: 1em 0;
}
.bl_indent {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 0 2.5em;
}
.bl_indent1 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 0 0 0 1.4em;
}
.bl_nonindent {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 0 2.5em;
}
.block {
  display: block;
  text-align: justify;
  margin: 1em 0;
}
.block1 {
  display: block;
  text-align: justify;
  margin: 1em -1.3em;
}
.block2 {
  display: block;
  text-align: justify;
  margin: 1em 0 1em 2em;
}
.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-weight: bold;
}
.calibre2 {
  font-style: italic;
}
.calibre3 {
  display: block;
}
.calibre4 {
  background-color: #FFF;
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt;
}
.calibre5 {
  height: auto;
  width: auto;
}
.calibre6 {
  color: #4c7aa9;
}
.calibre7 {
  display: block;
}
.calibre8 {
  line-height: 1.2;
}
.calibre9 {
  display: block;
  line-height: 1.2;
}
.calibre10 {
  height: auto;
  line-height: 1.2;
  width: auto;
}
.calibre11 {
  color: gray;
  display: block;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor inset 1px;
}
.calibre12 {
  font-style: italic;
  line-height: 1.2;
}
.calibre13 {
  display: block;
  font-family: "Shift Light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre14 {
  display: block;
  font-family: "Shift Light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.66667em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 0 0 1em;
}
.calibre15 {
  color: #fa6400;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.center {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.center1 {
  display: block;
  font-size: 0.83333em;
  text-align: center;
  margin: 1em 0 1em 1px;
}
.center2 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 0 0 3em;
  padding: 0;
}
.centera {
  display: block;
  text-align: center;
  margin: -2em 0 4em;
}
.chapter {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.3em;
  text-align: left;
  margin: 2em 0;
}
.chapter1 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.3em;
  text-align: left;
  margin: 2em 0 3em;
}
.chapter2 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 2em 0 3em;
}
.chapter3 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 2em 0 0;
}
.chapter4 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 4em;
  text-align: left;
  margin: 2em 0 3em;
}
.chaptera {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  margin: 2em 0;
}
.copyright {
  display: block;
  font-size: 0.83333em;
  margin-top: 4em;
  text-align: center;
}
.crt {
  display: block;
  text-align: left;
  margin: 1em 0;
}
.crt1 {
  display: block;
  text-align: left;
  margin: 1em 0 1em 1em;
}
.dedication {
  display: block;
  font-size: 0.83333em;
  margin-left: 5em;
  margin-top: 10em;
}
.dropcaps {
  float: left;
  font-size: 3em;
  line-height: 0.75em;
  margin: 0 0.05em 0 0;
}
.extract {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 2em 0 0;
}
.extract1 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 2em 0 0;
}
.footnote {
  display: block;
  text-align: justify;
  text-indent: -1.5em;
  margin: 1em 0 1em 1.5em;
}
.frac {
  font-size: 0.83333em;
  line-height: normal;
  vertical-align: 4px;
}
.identifier {
  display: block;
  font-family: "Shift Light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  opacity: 0;
  text-align: right;
  text-indent: 0;
  margin: 0;
}
.image_h {
  font-size: 1em;
  height: 12em;
  width: auto;
}
.indent {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 0;
}
.nonindent {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 0;
}
.nonindent1 {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 0 0 0 1.3em;
}
.para-bobaimp {
  display: block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 1.14em 0 0.32em;
}
.para-bobaimp1 {
  display: block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 0 0 1.33em;
}
.para-bobasqf {
  display: block;
  font-size: 0.83333em;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  margin: 1.25em 4.1% 0.2em 0;
}
.para-bobasqs {
  display: block;
  font-size: 0.83333em;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  margin: 0 7.9% 1.33em 0;
}
.para-bobat-boba-pg {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 0.89em;
}
.part {
  display: block;
  text-align: justify;
}
.part1 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 4em 0 1em;
}
.right {
  display: block;
  text-align: right;
  margin: 1em 0;
}
.rule {
  display: block;
  font-size: 1em;
  text-indent: 0;
  margin: 1.2em 5% 0;
  padding: 0;
  border-top: #636363 solid 1px;
}
.section {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  margin: 2em 0 1em;
}
.section1 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  margin: 2em 0 1em;
}
.small {
  font-size: 0.83333em;
}
.squeeze {
  display: block;
  margin: 0 28.5%;
}
.t {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 1em;
  margin-top: 1em;
  text-indent: 0;
  width: 100%;
}
.t1 {
  border-bottom-width: 0;
  border-collapse: collapse;
  border-left-width: 0;
  border-right-width: 0;
  border-spacing: 2px;
  border-top-width: 0;
  display: table;
  margin-bottom: 1em;
  margin-top: 1em;
  text-indent: 0;
  width: 100%;
}
.textbox {
  display: block;
  line-height: 1.3em;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
  padding: 0.5em 1em;
  border: currentColor solid 1px;
}
.textbox-mobi-show {
  display: none;
}
.textbox1 {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 1em 0;
}
.textbox2 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 1em 0;
}
.titlepage {
  display: block;
  text-align: center;
}
.toc_chap {
  display: block;
  font-size: 0.83333em;
  line-height: 1.4em;
  margin-left: 1.5em;
}
.toc_fm {
  display: block;
  font-size: 0.83333em;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 1em;
}
.toc_part {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-left: 0;
  margin-top: 1em;
}
.x-small {
  display: block;
  font-family: "Shift Light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.pcalibre:link {
  color: #fa6400;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
.pcalibre1:visited {
  color: #fa6400;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
.pcalibre2:hover {
  color: #fa6400;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
.pcalibre3:active {
  color: #fa6400;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
