
  p.p1 {margin: 0.0em 0.0em 1.09em 0.0em; text-indent: 0.0em; font-size: 164%; text-align: left}
  p.p2 {margin: 0.0em 0.0em 0.0em 4.91em; text-indent: -1.64em; font-size: 100%; text-align: left}
  p.p3 {margin: 0.0em 0.0em 0.0em 4.91em; text-indent: -1.64em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p5 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p7 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  li.li6 {margin: 0.0em 0.0em 0.0em 0.0em; font-size: 100%}
  span.s1 {font-family: monospace; font-size: 100%}
  ol.ol1 {list-style-type: decimal}
 