
  p.p1 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-family: monospace; font-size: 100%; text-align: left}
  p.p2 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-family: monospace; font-size: 100%; min-height: 13.0px; text-align: left}
  table.t1 {border-collapse: collapse}
  td.td1 {padding: 0.0px 5.0px 0.0px 5.0px}
 