
  p.p1 {margin: 0.0em 0.0em 0.0em 0.0em; text-align: center; text-indent: 0.0em; font-size: 100%}
  p.p2 {margin: 0.0em 0.0em 1.09em 0.0em; text-align: center; text-indent: 0.0em; font-size: 327%}
  p.p3 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 118%; min-height: 15.0px; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  span.s1 {text-decoration: underline}
  span.Apple-tab-span {white-space:pre}
 