
  p.p1 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; min-height: 14.0px; text-align: left}
  p.p3 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  span.s1 {font-size: 109%}
 