
  p.p2 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 55%; min-height: 8.0px; text-align: left}
  p.p3 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p5 {margin: 0.0em 0.0em 0.0em 3.27em; font-size: 100%; text-align: left}
 