
  p.p1 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; min-height: 14.0px; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 145%; min-height: 19.0px; text-align: left}
  p.p5 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p6 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p8 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 55%; min-height: 8.0px; text-align: left}
  p.p10 {margin: 0.0em 0.0em 0.0em 3.27em; text-indent: -3.27em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p11 {margin: 0.0em 0.0em 1.09em 0.0em; text-indent: 0.0em; font-size: 127%; text-align: left}
  p.p12 {margin: 0.0em 0.0em 1.09em 0.0em; text-indent: 0.0em; font-size: 164%; text-align: left}
  li.li9 {margin: 0.0em 0.0em 0.0em 0.0em; font-size: 100%}
  span.s1 {font-size: 109%}
  ol.ol1 {list-style-type: decimal}
  ul.ul1 {list-style-type: disc}
 