
  p.p1 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; min-height: 14.0px; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 145%; min-height: 19.0px; text-align: left}
  p.p5 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p6 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p7 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p9 {margin: 0.0em 0.0em 1.09em 0.0em; text-indent: 0.0em; font-size: 164%; text-align: left}
  li.li8 {margin: 0.0em 0.0em 0.0em 0.0em; font-size: 100%}
  span.s1 {font-size: 109%}
  ul.ul1 {list-style-type: disc}
 