
  p.p1 {margin: 0.0em 0.0em 1.09em 0.0em; text-indent: 0.0em; font-size: 164%; text-align: left}
  p.p2 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p3 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
  p.p5 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 13.0px; text-align: left}
  p.p6 {margin: 0.0em 0.0em 0.0em 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 11.0px; text-align: left}
  li.li7 {margin: 0.0em 0.0em 0.0em 0.0em; font-size: 100%}
  li.li8 {margin: 0.0em 0.0em 0.0em 0.0em; font-size: 100%; min-height: 13.0px}
  span.s1 {font-size: 100%}
  span.s2 {font-size: 100%}
  span.s3 {font-size: 100%}
  span.Apple-tab-span {white-space:pre}
  ul.ul1 {list-style-type: disc}
 