/* Namespace declarations */

@namespace epub "http://www.idpf.org/2007/ops";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var, small, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
} 

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    /* put in Georgia and Baskerville to target Nook HD */
    font-family: Georgia, Baskerville, roman, 'times new roman', times, serif;
    /* font-size and line-height not declared per Amazon and Apple guidelines */
    background-color: transparent;
    hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens:none;
        adobe-hyphenate: none;    
	/* margins in pixels to support Nook per Nook Press Epub Guidance: http://cp-barnesandnoble.kb.net/kb/article?ArticleId=4476&source=Article&c=12&cid=28 */
	margin: 30px 30px 20px 30px;
	text-indent: 0;
}

body.ls {
    font-family: arial, helvetica, sans-serif;
}

ol, 
ul {
	list-style-type: none;
}

blockquote {
	quotes: none;
}

q {
  quotes: "“" "”" "‘" "’";
 }

q:before {
    content: open-quote;
 }

q:after {
    content: close-quote;
 }

table {
    display: table;
	border-collapse: collapse;
 }

/* end CSS Reset */

/* Paragraph Styles */

	p {
	    background-color: inherit;
		margin: .5em 0;
	    /* text-align: justify; Amazon publishing guidelines state that body text
	    "MUST NOT have a forced alignment" p. 11, Sect 3.1.1, V2013.3 */
	    /* Amazon publishing guidelines state: "Body text must use the default font size and line height. 
	    Body text should _not_ use the <font size=”…”> tag or the font-size and line-height 
	    attributes in CSS." p. 11, Sect 3.1.1, V2013.3 */
	    line-height: inherit;
	    outline: 0;
	    padding: 0;
	    text-indent: 0;
	 }
 
.feature1 p,
.feature2 p,
.feature3 p,
.feature4 p {
    background-color: inherit;
    text-align: left;
}

blockquote {
    margin: .5em 1em .125em 1em;
    page-break-inside: avoid;
	quotes: none;
}

/* End Paragraph Styles */

/* Lists */

/* Selector must be "body ol" in order to support Nook HD */
body ol {
    list-style-type: decimal;
    /* Margin-left must be set to inherit from body in order to support Nook HD */
    margin-left: inherit;
    /* Padding must be set in relative units to work in Kobo for iPad */
    padding-left: 1.5em;
    text-align: left;
}

body blockquote ol,
body blockquote ul,
body .epigraph ol,
body .epigraph ol,
body .extract ol,
body .extract ul {
    margin-left: 0;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

.biblioEntryList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.bibliographyEntry,
.noteEntry {
    margin-top: .75em;
    /*margin-left: inherit;   RTB: to correct hanging indent for biblio entries Sept 2018 */
    margin-left: 1.25em;
    text-indent: -1.25em;
}

/* selector must be "body ul" in order to suppport Nook HD */
body ul {
    list-style-type: disc;
    /* Margin-left must be set to inherit from body in order to support Nook HD */
    margin-left: inherit;
    /* Padding must be set in relative units to work in Kobo for iPad */
    padding-left: 1.5em;
    text-align: left;    
}

li {
    margin-top: .5em;
}

.list {
    padding-left: inherit;
}

.sub {    
    padding-left: inherit;
}

/* Selectors must be descendants of body in order to support Nook HD */
body .item1,
body .item2,
body .item3,
body .listPara1,
body .listPara2,
body .listPara3,
body .item4,
body .listPara4,
body .itemN,
body .listParaN {
    list-style-type: none;
    /* Margin-left and padding must be set to inherit from body in order to support Nook HD */
    margin-top: .5em;
    margin-left: inherit;
    padding: inherit;
    text-align: left;
    text-indent: 0;
}

.decimal {
    list-style-type: decimal;
    margin-left: inherit;
}
    
.upper-alpha {
    list-style-type: upper-alpha;
}
 
.lower-roman {
    list-style-type: lower-roman;
}

.lower-latin {
    list-style-type: lower-latin;
}

.upper-latin {
    list-style-type: upper-latin;
}

.none {
    list-style-type: none;
}

.decimal-leading-zero { 
   list-style-type: decimal-leading-zero;
}

.lower-greek{  
    list-style-type: lower-greek; 
}

.armenian{
    list-style-type:armenian;
}

.georgian {
    list-style-type:georgian;
}
.disc{
    list-style-type:disc;
}
.circle{
    list-style-type:circle;
}
.square{
    list-style-type:square;
}
.optionList {
    margin: 1em 0;
}

/* End Lists */

/* Questions and Answers */

.match1 {
    list-style-type: decimal;
}

.choices ol,
.match2 {
    list-style-type: lower-alpha;
}

.wol::after {
    content: "__________";
}

/* End Questions and Answers */

/*Features*/

.feature1,
.feature2,
.feature3,
.feature4 {
    border-radius: 8px;
    margin: 2px auto;
    padding: 8px;
    page-break-inside: avoid;
    text-align: center;
    width: 95%;
}

.feature1 {
    background-color: #DDDDDD;
    border: 1px solid #000;
}

/*insert Learning Space feature here*/
.feature2 {
    background-color: #EEEEEE;
    border: 2px solid #AAAAAA;
}

.feature3 {
    border: 1px solid #000;
}

.feature4 {
    border: 1px dashed;
}

/* The following combined class selector is intended to ensure that feature borders have square
corners. JLK@Aptara 12/20/2014 */

.feature1.ls,
.feature2.ls,
.feature3.ls,
.feature4.ls {
    border-radius: 0px;
    border: none;
    background-color: #F0F0F0;  /* #FFF4DE; RTB: color change per request Nov 2017 */
    margin: .5em auto;
    padding: .4em 1.4em .2em 1.4em; /* .5em; LD standardizing feature padding Oct 2018*/
    page-break-inside: avoid;
    text-align: center;
    width: 95%;
}

section[class="feature1"] h1,
section[class="feature2"] h2,
section[class="feature3"] h3,
section[class="feature4"] h4 {
    margin: 0;
    padding: .5em 0;
    text-align: left;
    text-indent: 0;    
}

section[class="feature1"] h1 {
    font-size: 1.5em;
	padding: .5em 0 0 0; /* LD standardizing feature padding Oct 2018*/
}

section[class="feature1 ls"] h1 {
    color: #226C7B; /* #80A53F; RTB: size and color change per request Nov 2017 */
    font-size: 1.1em;	
    margin: 0;
   text-transform: none;	
/*    padding-bottom: .5em;
    padding-right: 0;
    padding-left: 0; LD standardizing feature padding Oct 2018*/
	padding: .5em 0 0 0; /* LD standardizing feature padding Oct 2018*/
}

section[class="feature2"] h2 {
    font-size: 1.3em;
}

section[class="feature2 ls"] h2 {
    color: #B22222; /* RTB: color added per request Feb 2018 */
    font-size: 1.1em;
    margin: 0;
/*    padding-bottom: .5em;
    padding-right: 0;
    padding-left: 0;  LD standardizing feature padding Oct 2018*/
	padding: .5em 0 0 0; /* LD standardizing feature padding Oct 2018*/	
}

section[class="feature3"] h3 {
    font-size: 1.1em;
}

section[class="feature3 ls"] h3 { /* RTB: color and size added per request Nov 2017 */
    color: #017252; 
    font-size: 1.1em;
}

section[class="feature4"] h4 {
    font-size: 1em;
}

section[class="feature4 ls"] h4 { /* RTB: style, color, and size added per request Nov 2017 */
    color: #776D3D; /* RTB: color added per request Feb 2018 */
    font-style: normal;
    font-size: 1.1em;
}

/* End Features */

/* Rules */

.hr {
    display: none;
}

.top, 
.bottom {
    display: none;
}

.dottedTop {
    display: none;
    font-size: .9em;
    margin-top: 2.5em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    page-break-after: avoid;
    text-align: center;    
    text-decoration: overline;
}

.dottedBottom {
    font-size: .9em;
    margin: 0 auto;
    page-break-before: avoid;
    text-align: center;
    text-decoration: underline;
}

/* End Rules */

/*Code*/

pre {
    font-family: monospace;    
    font-size: inherit;
    hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens:none;
        adobe-hyphenate: none;
    margin: 1em 0;
    padding: 0;        
    text-align: left;
    text-indent: 0;
    white-space: pre-wrap;
}

.codeTitle {
    margin-left: 0;
}

.codeHead {
    font-size: inherit;
}

.codeNote {
    border-bottom: thin solid #AAAAAA;
    border-top: thin solid #AAAAAA;
    font-size: .9em;
    margin: .5em 0;
    padding: .25em 0;
    text-align: right;
    text-decoration: underline;
}

/* end Code */

/* Generic Inline Formatting 
Use strong or em to specify bold and italic. Use of b, i, or span classes is
discouraged in semantic HTML.

It is acceptable to use b or i in cases where markup is just differentiating text
rather than implying semantic emphasis.

It is considered acceptable to next strong and em to
apply bold italic font style and weight. */

a {
    color: blue;
	font: inherit; 
}

.indexTerm {
	color: inherit;
	font-weight: inherit;
	text-decoration: none;
}

.normal {
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    font-family: inherit;
}

b,
strong {
    font-size: inherit;
    font-style: inherit;
    font-weight: bold;
    font-family: inherit;
    text-decoration: inherit;
    }

cite,
em,
i {
    font-size: inherit;
    font-style:italic;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
}

.boldItalic {
    font-size: inherit;
    font-weight: bold;
    font-style: italic;
    font-family: inherit;
    text-decoration: inherit;
}

sup {
    font: inherit;
    font-size: .85em;
    vertical-align: super;
}

sub {
    font: inherit;
    font-size: .85em;
    vertical-align: sub;
}

s {
    font: inherit;
    text-decoration: line-through;
}

u {
    font: inherit;
    text-decoration: underline;
}

.copyrightBookTitle,
.runinHead {
    display: inline;
    font-weight: bold;
}

/* End Generic Inline Formatting */

/*local character formatting*/

code,
.codeHighlight,
.codeLabel,
.codeVariable,
.userinputVariable {
    font-family: monospace;
    font-size: inherit;
}

.codeHighlight {
    background-color: #EEEEEE;
    text-decoration: underline;
}

.email {
    font-size: inherit;
    margin: 0;
}

.genusSpecies,
.glossTerm,
.keyTerm,
.userinput,
.keyTerm.ls2 {
    font-size: inherit;
    font-weight: bold;
}

.keyTerm.ls1 {
    background-color: inherit;
    color: #007099; /* #1C98B0; RTB: color change per request Nov 2017 */
}

var {
    font-style: italic;
}

.codeVariable,
.userinputVariable {
    font-style: normal;
}

/* Generic Alignment and Breaking: apply as class when necessary */

.left {
    text-align: left;
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 0;
    text-align: center;    
}

.right {
    text-align: right;
    margin: 0;
}

.textbreak {
    margin: .625em auto;    
    text-align: center;
}

/* End Generic Alignment and Breaking */

/* Colors: apply as classes on <span> tags -- redefine to suit rgb colors os specific titles */

.red {
    background-color: inherit;
    color:#FF0000;
    /*color:rgb(255,0,0);*/
}
.blue {
    background-color:inherit;
    color:#0000B1;
    /*color:rgb(0,15,255);*/
}
.green {
    background-color:inherit;
    color:#228B22;
    /*color:rgb(34,139,34);*/
}
.yellow {
    background-color:inherit;
    color:#FFF000;
    /*color:rgb(255,240,0);*/
}

/* End Colors */


/* Code Colors */

.codeColorBlue {
    background-color: inherit;
    color: #0000FF;
}

.codeColorBlue2 {
    background-color: inherit;
    color: #0000A5;
}

.codeColorBlue3 {
    background-color: inherit;
    color: #6464B9;
}

.codeColorBlueGreen {
    background-color: inherit;
    color: #2B91AF;
}

.codeColorBrown {
    background-color: inherit;
    color: #573733;
}

.codeColorDkBlue {
    background-color: inherit;
    color: #000080;
}

.codeColorGreen {
    background-color: inherit;
    color: #008A00; /* RTB: was #008000, differentiate greens Feb 2018 */
}

.codeColorGreen2 {
    background-color: inherit;
    color: #2D8659; /* RTB: was #629755, accessibility problem color Feb 2018 */
}

.codeColorGrey30 {
    background-color: inherit;
    color: #575757; /* RTB: was #808080, accessibility problem color Feb 2018 */
}

.codeColorGrey55 {
    background-color: inherit;
    color: #767676; /* RTB: was #C0C0C0, accessibility problem color Feb 2018 */
}

.codeColorGrey80 {
    background-color: inherit;
    color: #3B3B3B; /* RTB: was #555555, darker to allow three gray tones Feb 2018*/
}

.codeColorHotPink {
    background-color: inherit;
    color: #CC00CC; /* RTB: was #DF36FA, accessibility problem color Feb 2018 */
}

.codeColorMagenta {
    background-color: inherit;
    color: #844646;
}

.codeColorOrange {
    background-color: inherit;
    color: #DB3A00; /* RTB: was #B96464, accessibility problem color Feb 2018 */
}

.codeColorPeach {
    background-color: inherit;    
    color: #C94E36; /* RTB: was #CE8F53, accessibility problem color Feb 2018 */
}

.codeColorPurple {
    background-color: inherit;
    color: #9900CC; /* RTB: was #951795, differentiate purples Feb 2018 */
}

.codeColorPurple2 {
    background-color: inherit;
    color: #800080;
}

.codeColorRed {
    background-color: inherit;
    color: #EB0000; /* RTB: was #FF0000, accessibility problem color Feb 2018 */
}

.codeColorRed2 {
    background-color: inherit;
    color: #800000;
}

.codeColorRed3 {
    background-color: inherit;
    color: #A31515;
}

.codeColorTealBlue {
    background-color: inherit;
    color: #008080;
}

.codeColorWhite {
    background-color: inherit;
    color: #FFFFFF;
}

/* End Code Colors */

/* Begin LS Colors - JLK@Aptara 12.20.2014*/

.lsColorOrange {
    background-color: inherit;
    color: #E15631;
}

.lsColorBlue {
    background-color: inherit;
    color: #1C98B0;
}

.lsColorBeige {
    background-color: inherit;
    color: #FFF4DE;
}

.lsColorLtGrey {
    background-color: inherit;
    color: #E5E5E5;
}

.lsColorParrot {
    background-color: inherit;
    color: #80A53F;
}

.lsColorGreen {
    background-color: inherit;
    color: #50B14A;
}

.lsColorGrey {
    background-color: inherit;
    color: #535456;
}

.lsColorMdGrey {
    background-color: inherit;
    color: #78797A;
}

.lsColorBlack {
    background-color: inherit;
    color: #221E1F;
}

.lsColor95Black {
    background-color: inherit;
    color: #323031;
}

.lsColor100Black {
    background-color: inherit;
    color: #231F20;
}

.lsColorRed {
    background-color: inherit;
    color: #BE3333;
}

.lsColorPink {
    background-color: inherit;
    color: #B51F71;
}

.lsColorPlBlue {
    background-color: inherit;
    color: #45739B;
}

.lsColor15PlBlue {
    background-color: inherit;
    color: #DCE0E9;
}

.lsColorCream {
    background-color: inherit;
    color: #E0DDA3;
}

.lsColor15Parrot {
    background-color: inherit;
    color: #ECF2E2;
}
/* End LS Colors */

/* Front Matter Styles */
 
.bookTitle {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 2.25em 0 .3125em 0;
    page-break-after: avoid;
    text-align: left;        
}

.bookSubTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1.5em 0 .3125em 0;
    page-break-after: avoid;
    text-align: left;    
}

.associateBookEditor,
.bookAuthor,
.bookEdition,
.bookEditor,
.bookVolumeNumber,
.colophon,
.forewordAuthor {
    margin: 1.25em 0 0 0;    
    text-align: left;
    text-indent: 0;
}

.affiliation,
.authorName,
.titlepage .editorName,
.forewordAuthorName {
    margin: 0;
    text-align: left;
    text-indent: 0;
}

.contributorName,
.editorName,
.organizationName {
	display: inline;
	font-weight: bold;
}

.publisherImprint,  
.publisherCities {
    font-size: .75em;
    margin: 1.25em auto;
    text-align: center;
    text-indent: 0;
}

.copyright {
    font-size: .9em;
    margin: .5em 0 .375em 0;
}

section[class="copyright"] p {
    text-indent: 0;
}

.credits {
    text-align: left;
}

.creditsTitle { /*amend titles in credits for this style*/
    margin-top: 1.25em;
    text-align: left;    
}

li.contentsAbstract {
    font-size: .9em;
    color: black;
    list-style-type: none;
    text-align: left;    
    text-decoration: none;
}

.contentsH1 {
    list-style-type: none;
    margin-left: 0;
    text-align: left;
}

.contentsH2 {
    list-style-type:none;
    /* The presence of the following creates linebreaks after bullets on the Kindle DX:
    margin-left: .5em;
    padding-left: .5em; */
    text-align: left;
}

.contentsH3 {
    list-style-type: none;
    /* The presence of the following creates linebreaks after bullets on the Kindle DX:
    margin-left: 1em;
    */
    text-align: left;
}

.tocList ol {
    list-style: none;
}

.tocList li {
    list-style: none;
	margin-top: .3125em;
}

.signatureLine {
    color: #343434;
    margin-top: 1.5em;    
    margin-bottom: .75em;
    margin-left: 1.5em;    
    text-align: left;
    text-indent: 0;
}

/* End Front Matter Styles */

/* Chapter Specific Frontmatter */
.chapterAuthor, 
.chapterAuthorAffiliation,
.chapterCredit {
    color: #343434;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

/* Chapter Specific Frontmatter */

/* Sections and Headings */

section {
	margin: 1em auto;
}

/* key ideas - LS */
.keyConcepts.ls {
    display: block;
    background-color: #F0FFFF; /* #DCE0E9; RTB: color change per request Nov 2017 */
    page-break-inside: avoid;
    padding: .5em 1em;
}

.objectives.ls {
    display: block;
    background-color: #F0F0F0; /* #FFF4DE; RTB: color change per request Nov 2017 */
    page-break-inside: avoid;
    padding: 0 0 .5em 0;
}

header {
    margin-top: 2em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.25em;
    }

h1 span {
	font-size: inherit;
	font-weight: inherit;
}

header h1 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0;
}
h1.partNumber, partTitle {
    font-size: 2em;
    font-weight: inherit;
    margin-top: 1.25em;    
}

h1.ls
{
    background-color: inherit;
    /*color: #E15631; RTB: color change per request Nov 2017 */
    /*text-transform: uppercase; RTB: removing uppercase per request Nov 2017*/
    /*font-weight: normal; RTB: allowing bold per request Feb 2018*/
}
.title {
  margin-bottom: 0;
  margin-top: 2em;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 0 .5em 0;
    
}

h2.ls {
    background-color: inherit;
    /*color: #B22222; RTB: color change per request Feb 2018 */
    /*font-weight: normal; RTB: allowing bold per request Feb 2018*/
}

h3
 {
    font-size: 1.1em;
    font-weight: bold;
    margin: .625em 0 .5em 0;
        
}

h3.ls {
    background-color: inherit;
    color: #B22222; /* #80A53F; RTB: color change per request Nov 2017 */
    /*font-weight: normal; RTB: allowing bold per request Feb 2018*/
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin: .5em 0;
}

h4.ls {
    background-color: inherit;
    color: #003B59; /* #E15631; RTB: color change per request Feb 2018 */
    /*font-weight: normal; RTB: allowing bold per request Feb 2018*/
}

section.keyConcepts.ls h4 {
    background-color: inherit;
    color: #226C7B; /*  #000000; RTB: color change per request Nov 2017 */
    font-weight: bold;
}

section.objectives.ls h4 {
    background-color: #FFFFFF;
    color: #B22222; /*  #E15631; RTB: color change per request Nov 2017 */
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em -.5em .5em 0em;
}

h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;  
}

h5.ls {
    display: inline-block;
    background-color: inherit;
    color: #776D3D; /*#45739B; RTB: color change per request Feb 2018 */
    /*font-weight: normal; RTB: allowing bold per request Feb 2018*/
}
h6.ls {
    display: inline-block;
    background-color: inherit;
    color: #547890; /*#45739B; RTB: color change per request Nov 2017 */
    /*font-weight: normal; RTB: allowing bold per request Feb 2018*/
}

.listHead,
.navListHead
{
    font-size: 1.1em;
    margin: .625em 0 .5em 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.listHead,
.navListHead {
    font-family: sans-serif;
    hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens:none;
        adobe-hyphenate: none;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;    
}

/* End HTML5 Headings */

/* Figures & Graphics */

figure
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure,
.informalFigure {
    margin: .625em 0;  
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;    
}

img {
    margin: 0 auto;
    /* JLK@Aptara 10012013: This is doing funky things to graphics in ADE, Kobo, other RS's height: auto; */
    max-width: 100%;
    padding: 0;
}

figure.ls img {
    margin: .5em auto;
    max-width: 95%;
}

figcaption {
    color: #343434;
    margin: .6875em 0 .125em 0;    
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
}

/* figcaption specifically for LS - JLK@Aptara 12/21/2014*/

figure.ls figcaption {
    color: #231F20;
    font-weight: bold;
    margin: .6875em .5em .5em .5em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
}

.source {
    color: inherit;
    font-size: .9em;
    margin-top: .25em;
    margin-left: 1.5em;    
    text-align: left;
    text-indent: 0;
}

/* figure source specifically for LS - JLK@Aptara 12/21/2014*/

figure.ls p.source {
    color: inherit;
    font-size: .9em;
    margin-top: .25em;
    margin-left: 0;
    text-align: left;
    text-indent: 0;
}

/* table source specifically for LS - JLK@Aptara 12/21/2014*/

figure.tableLS, 
figure.tableLS1 /* displays figure that wrap tables as tables  */
{ display: table; }


figcaption.tableLS /* displays figcaptions for table elements as table-captions */
{
    display: table-caption;
    /* text-align: center; RTB: design change req Feb 2018*/
}

figure.tableLS1 p.source {
    color: #FFFFFF; /*inherit; RTB: color change per request Nov 2017 */
    font-size: .9em;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
    text-indent: 0;
}

.figureLabel {
    color: inherit;
    font-size: inherit;
}

.ls span.figureLabel,
.ls span.figureLabel a:link {
    color: #226C7B; /* #1C98B0; RTB: color change per request Nov 2017 */

}

.publisherWordMark {
    display: inline-block;
    top: 2em;
    bottom: 1em;
	clear: both;    
} 

.marginIcon {
    margin-bottom: .5em;
}

.pagebreak {
    page-break-after: always;
}

.floatLeft 
{
    float: left;
    bottom: 1em;
}

.floatRight {
    float: right;
    bottom: 1em;
}

/* End Figures & Graphics */

/* Tables */

/* NOTE: Do NOT use a tableentry <td> with a <p class="tablefootnote"> inside to create a footnote, as this approach will add extra space inside the table cell. 
Use <td class="footercell"> with a colspan="N" declaration instead. Or, use <p class="tablefootnote"> AFTER the </table> tag. */

/* NOTE: including <p>'s in your table cells will result in extra spacing and bad rendering; all <p>'s in <td> cells should be removed, leaving the formatting to 
the td element selector. If you need extra line, use <br/> */

table
{
    border-collapse: collapse; /*turns off double borders*/
    margin: 0 auto .5em auto;
    text-align: center;
}

thead {
    font-weight: bold;
    display: table-header-group;    
}

td,
th {
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    border: 1px solid #C0C0C0;
    display: table-cell;
    padding: 3px;    
    text-indent: 0;
    text-align: left;
    vertical-align: text-top;    
}

tr {
    display: table-row;
    font-size: inherit;
    font-weight: inherit;
}

.footerCell {
    font-size: .9em;
}

/* table footerCell for LS and LS1 tables */

.tableLS .footerCell,
.tableLS1 .footerCell {
    background-color: #FFFFFF;
    border: none;
}

.tableFootnote {
    font-size: .9em;
    margin-bottom: .1875em;
    text-align: left;
}

/* Learning Space Tables - insert styles for 4 LS tables and features here*/
/* 4 distinct table definitions, including incorporating table caption into table design, encoding bg-color for features */

figure.tableLS table,
figure.tableLS1 table
{
    padding: .5em;
    margin: 0 0 .5em 0em;
}

figure.tableLS span.figureLabel,
figure.tableLS1 span.figureLabel {
    display: block;
    background-color: #003B59; /*#45739B; RTB: color change per request Nov 2017 */
    color: #FFFFFF;
    padding: .5em;
    margin: -.5em -.5em .5em -.5em;
    text-transform: uppercase;

}

figure.tableLS span.figureLabel a:link,
figure.tableLS1 span.figureLabel a:link {
    color: #FFFFFF; 
}

figure.tableLS figcaption p,
figure.tableLS1 figcaption p 
{
    background-color: #007099; /*#DCE0E9; RTB: color change per request Nov 2017 */
    color: #FFFFFF; /*#000000; RTB: color change per request Nov 2017 */
    font-weight: bold;
    padding: .5em .5em .25em .5em;
    margin: 1em 0 -.25em 0;
}
figure.tableLS figcaption p a {color: #FFFFFF;} /* LD white underlined figcaption in ls tables Oct 2018*/
caption p
{
    background-color: #DCE0E9;
    color: #000000;
    font-weight: bold;
    padding: .5em .5em .25em .5em;
    margin: 1em 0 -.25em 0;
}

/* Table head and body colors within feature boxes for LS - JLK@Aptara 12/21/2014 */

.tableLS thead,
.tableLS1 thead {
    background-color: #F0F0F0; /*#FFF4DE; RTB: color change per request Nov 2017 */
    color: #003B59; /*#45739B; RTB: color change per request Nov 2017 */
}

.tableLS tbody tr:nth-child(even) {
   background-color: #F0F0F0; /*#FFF4DE; RTB: color change per request Nov 2017 */
}

.tableLS1 tbody td {
    background-color: #F0F0F0; /*#FFF4DE; RTB: color change per request Nov 2017 */
}

/* Table head and body colors within feature boxes for LS - JLK@Aptara 12/21/2014 */

.feature1 .tableLS thead,
.feature1 .tableLS1 thead,
.feature2 .tableLS thead,
.feature2 .tableLS1 thead,
.feature3 .tableLS thead,
.feature3 .tableLS1 thead,
.feature4 .tableLS thead,
.feature4 .tableLS1 thead {
    background-color: #FFFFFF;
}
.tableLS tbody tr:nth-child(even) {
   background-color: #F0F0F0; /*#FFF4DE; RTB: color change per request Nov 2017 */
}

.feature1 .tableLS tbody td,
.feature1 .tableLS1 tbody td,
.feature2 .tableLS tbody td,
.feature2 .tableLS2 tbody td,
.feature3 .tableLS tbody td,
.feature3 .tableLS3 tbody td,
.feature4 .tableLS tbody td,
.feature4 .tableLS4 tbody td {
    background-color: #FFFFFF;
}

/* End Tables */

/* Other Flow Content Elements */

/* Poetry */

.lineGroup {
    text-align: left;
    margin: 1em 0;
    page-break-inside: avoid;
}

.poetryLineGroup p {
    margin: 0;
}

/* End Poetry */

/* Math */
.equation,
.informalEquation,
.equationNumbered {
    display: block;
    margin: 1.25em 0 0 0;
    page-break-inside: avoid;
    page-break-after: avoid;
    text-align: center;
}

.equationBG {
    display: block;
    margin: 1.25em 0 0 0;
    page-break-inside: avoid;
    page-break-after: avoid;
    text-align: center;
    border-radius: 0px;
    border: none;
    background-color: #F1F2F2; /* #FFF4DE; RTB: color change per request Oct 2018 */
    padding: 1.25em;
    width: 95%;
}

.listWhere::before {
	content: "Where: ";
	padding-left: 0;
	margin-left: -1.5em;
}

.equationNumber {
    float: right;
}

/* End Math */

.epigraph,
.extract {
    display: block;
    page-break-inside: avoid;    
    margin: .625em 0 .625em 1.25em;
}

.dialogue {
    display: block;
    margin-top: .25em;
    margin-left: 1.25em;    
}

/* End End of Chapter */

/* Back Matter */
/* Glossary */

.glossaryLetter {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .625em;
    text-align: left;
}

dd {
    margin-bottom: .3125em;
    margin-left: 1.5em;
}

dfn,
dt {
    font-weight: bold;
    font-style: normal;
        hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens:none;
        adobe-hyphenate: none;
}

/* End Glossary */

/* End Back Matter */

/* Nav specific formatting */

span[epub|type~="pagebreak"] {
    color: #B4B4B4;
    font-size: .7em;
	text-align: center;
}

nav[epub|type~="landmarks"] {
	display: none;
	visibility: hidden;
}

nav[epub|type~="page-list"] {
	display: none;
	visibility: hidden;
}

nav {
	margin: 1em auto;
}

.guideList {
	display: none;
	visibility: hidden;
}

.index-term-categories {
    display: none;
    visibility: hidden
}

.pageList {
	display: none;
	visibility: hidden;
}

/* Back of Book Ads */

.bobBookCover {
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	color: #000000;
	text-indent: 0;
	margin: 1.25em 0 .3125em 0;
}

h1.ad {
	font-family: sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.83em;
	text-decoration : none;
	text-align : center;
	color : #1152bf;
	text-indent : 0;
	margin : 0 0 .625em 0;
}

.bobCopy, .bobEntry {
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	color: #000000;
	text-indent: 0;
	margin: 0;
    page-break-inside: avoid;
}

.bobLink {
	font-family: sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	color: #0000ff;
	text-indent: 0;
	margin: 0;
}

.bobAd {
	padding: 1.25em;
}

/* End Back of Book Ads */

/* Rules for Amazon only */

@media amzn-kf8 {
    body {/* Amazon guidance says margin-left and margin-right must be 0. */
    	margin-left: 0;
    	margin-right: 0;
    	text-indent: 0;
    }
    body ol {
        list-style-type: decimal;
        padding-left: 1.5em;
    }

    ol ol {
        list-style-type: lower-alpha;
    }

    ol ol ol {
        list-style-type: lower-roman;
        }

    ul {
        list-style-type: disc;
        margin-top: .5em;
        margin-bottom: .5em;
        padding-left: 1.5em;
    }

    ul ul {
        list-style-type: none;
        padding-left: 1.5em;
    }

    ul ul ul {
        list-style-type: square;
        padding-left: 1.5em;
    }
    
    .list {
        padding: 0;

    }
    
    body .listPara1 { 
        margin-left: .375em;
        padding: inherit;
        text-align: left;
    }
        
    body .listPara2,
    body .listPara3,
    body .listPara4,
    body .listParaN {
        margin-left: .25em;
        padding: inherit;
        text-align: left;
    }    
    
    .sub {
        padding: 0 0 0 1.5em;
    }
}

@media amzn-mobi {
    body {/* Amazon guidance says margin-left and margin-right must be 0. */
    	margin-left: 0;
    	margin-right: 0;
    	text-indent: 0;
    }
    
    div.hr {
       display: block;
       margin: 0;
       padding: 0;
    }
    
    div.dottedTop hr,
    div.top hr {
        display: block;
    	margin: 0;
        padding: 0;
    }
    
    div.dottedBottom hr,
    div.bottom hr {
    	display: block;
        margin: 0;
        padding: 0;
    }
        
    img {
        text-indent: 0;
        margin: 0;
        padding: 0;
        width: auto;
    }
    
   ol {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    ul {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: inherit;
        padding-left: inherit;
    }       
}
/*end style sheet*/
